[submodule "cad_source/components/fpdwg"]
	path = cad_source/components/fpdwg
	url = https://github.com/zamtmn/fpdwg.git
[submodule "agraph"]
	path = cad_source/other/agraphlaz
	url = https://github.com/zamtmn/agraphlaz.git
[submodule "cad_source/components/metadarkstyle"]
	path = cad_source/components/metadarkstyle
	url = https://github.com/zamtmn/metadarkstyle.git
[submodule "cad_source/components/zmacros"]
	path = cad_source/components/zmacros
	url = https://github.com/zamtmn/zmacros.git
[submodule "cad_source/components/ztoolbars"]
	path = cad_source/components/ztoolbars
	url = https://github.com/zamtmn/ztoolbars.git
[submodule "cad_source/components/fpspreadsheet"]
	path = cad_source/components/fpspreadsheet
	url = https://github.com/veb86/fpspreadsheet.git
[submodule "cad_source/components/lape"]
	path = cad_source/components/lape
	url = https://github.com/nielsAD/lape.git
[submodule "cad_source/components/zreaders"]
	path = cad_source/components/zreaders
	url = https://github.com/zamtmn/zreaders.git
[submodule "cad_source/components/callstack_memprofiler"]
	path = cad_source/components/callstack_memprofiler
	url = https://github.com/Alligator-1/callstack_memprofiler.git
[submodule "cad_source/components/fphunspell"]
	path = cad_source/components/fphunspell
	url = https://github.com/zamtmn/fphunspell.git
[submodule "cad_source/components/zunits"]
	path = cad_source/components/zunits
	url = https://github.com/zamtmn/zunits.git
[submodule "cad_source/components/zmath"]
	path = cad_source/components/zmath
	url = https://github.com/zamtmn/zmath.git
[submodule "cad_source/components/zbaseutils"]
	path = cad_source/components/zbaseutils
	url = https://github.com/zamtmn/zbaseutils.git
[submodule "cad_source/components/zbaseutilsgui"]
	path = cad_source/components/zbaseutilsgui
	url = https://github.com/zamtmn/zbaseutilsgui.git
[submodule "cad_source/components/zcontainers"]
	path = cad_source/components/zcontainers
	url = https://github.com/zamtmn/zcontainers.git
[submodule "cad_source/components/zscript"]
	path = cad_source/components/zscript
	url = https://github.com/zamtmn/zscript.git
[submodule "cad_source/components/zscriptbase"]
	path = cad_source/components/zscriptbase
	url = https://github.com/zamtmn/zscriptbase.git
[submodule "cad_source/components/zobjectinspector"]
	path = cad_source/components/zobjectinspector
	url = https://github.com/zamtmn/zobjectinspector.git
[submodule "cad_source/components/zundostack"]
	path = cad_source/components/zundostack
	url = https://github.com/zamtmn/zundostack.git
